{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block validation %}

{% endblock %}
{% block addScript %}
<script src="js/hideShowPassword.min.js"></script>
<script src="js/validation.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6"><img src="/img/finance.jpg" alt="logo" width=97% height=100%
                                   style=" padding-top: 10px; padding-left: 15px"/></div>
        <div class="col-lg-6" style="padding-top: 10px; padding-right: 30px; padding-left: 27px ">
            <div id="login" style="width: 100%;height: 100%">
                <form method="post" action="signupNew" id="formSignup">
                    <input id="name" name="login" placeholder="Login (email format)" value="{{ user.login }}" required
                           type="email"/>
                    <input type="password" id="inputPassword" name="password" placeholder="Password" required/>
                    <input type="submit" value="Sign me up">
                    <input type="button" value="I have account" onclick="window.location.href='../Login'"/>
                </form>
            </div>
        </div>
    </div>

    {% if user.errors is not empty %}


    {% for error in user.errors %}
    <div class="alert alert-warning">
        {{ error }}
    </div>
    {% endfor %}
    {% endif %}

</div>
{% endblock %}
