{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-lg-6"><img src="/img/finance.jpg" alt="logo" width=97% height=100%
                                   style=" padding-top: 10px; padding-left: 15px"/></div>
        <div class="col-sm-6" style="padding-top: 10px; padding-right: 30px; padding-left: 27px">
            <div id="login">

                <form action="/login_create" method="post">
                    <input type="email" id="inputEmail" name="email" placeholder="Email address" autofocus
                           value="{{ email }}" required/>
                    <input type="password" id="inputPassword" name="password" placeholder="Password" required/>
                    <input type="submit" value="Log in">
                    <input type="button" value="Back to registration"
                           onclick="window.location.href='../Signup'"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}